@use '../abstract' as *;
.mobile-header {
  position:sticky; inset-block-start:0;
  display:flex; justify-content:space-between; padding-block:pxToRem(20);
  background-color:hsl(var(--color-neutral-0));
  &-button { padding:pxToRem(16); cursor:pointer; }
}


.hamburger-icon {
  position:relative; display:block;
  inline-size:pxToRem(24); block-size:pxToRem(2);
  background-color: hsl(var(--color-primary-100));

  &::before,
  &::after {
    content:""; display:block;
    position:absolute; inset:0;
    inline-size:pxToRem(24); block-size:pxToRem(2);
    background-color: inherit;
  }
  &::before { inset-block-start:pxToRem(-10); }
  &::after { inset-block-start:pxToRem(10); }
}
