@use "../abstract" as *;
.articles-grid {
  display: grid; grid-template-columns:repeat(3, 1fr); gap:pxToRem(32);
  &-item {
    display:contents;
    &-article { display:contents; }
    &-link    {
      display:contents;
      &::before { content:""; display:block; grid-column:span 3; border-block-start:solid pxToRem(2) hsl(var(--color-border));}
    }
    &:first-child ::before { display:none; }
  }
  @media #{$break1}, #{$break2} {
    grid-template-columns:repeat(2, 1fr);
    &-item-link::before { grid-column:span 2; }
    &-item-content { display:none!important; }
  }
}
