.main-grid {
      grid-template-areas: "nav main side" "nav footer side";
}

.side-nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.main-content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
}

.side-content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: side;
}

.main-footer {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: footer;
}